:root  {
    --spacing-one:calc(1rem* 0.5rem);
    --spacing-two:calc(1rem);
    --spacing-three:calc(2rem);
    --spacing-four:calc(3rem);

    --brown:hsla(0, 38%, 15%, 0.965);
    --lightbrwn: hsla(0, 100%, 73%, 0.698);
    /* --brown:rgb(77, 51, 45); */
    --lightbrown:rgb(128, 82, 71);
    --me:rgb(193, 153, 143);
    --plbrown:rgb(208, 182, 175);
    --darkbrown:#260e04;

    --sand:#bc6039;
    --orch:#d98f45;
    --light:#fff1b7ea;
    --yellow:#e6c240;

    --peach: hsl(352, 86%, 66%);
    --pxnk: hsl(330, 63%, 38%);
    --cloud: hsl(187, 96%, 71%); 
    --green: hsl(120, 60%, 47%);
    --paleblue: hsl(221, 95%, 64%);
    --hue-neutral:200;
    --hue-wrong:0;
    --hue-correct:145;
  }

  .mx-1 {
    margin-right: var(--spacing-one);
    margin-left: var(--spacing-one);
  }
  
  .mx-2 {
    margin-right: var(--spacing-two);
    margin-left: var(--spacing-two);
  }
  
  .my-1 {
    margin-top: var(--spacing-one);
    margin-bottom: var(--spacing-one);
  }
  
  .my-2 {
    margin-top: var(--spacing-two);
    margin-bottom: var(--spacing-two);
  }
  
  .my-3 {
    margin-top: var(--spacing-three);
    margin-bottom: var(--spacing-three);
  }
  
  .myt-2 {
    margin-top: var(--spacing-two);
  }
  
  .myb-2 {
    margin-bottom: var(--spacing-two);
  }
  
  .mb-0 {
    margin-bottom: 0!important;
  }
  
  .px-1 {
    padding-right: var(--spacing-one);
    padding-left: var(--spacing-one);
  }
  
  .px-2 {
    padding-right: var(--spacing-two);
    padding-left: var(--spacing-two);
  }
  
  .py-1 {
    padding-top: var(--spacing-one);
    padding-bottom: var(--spacing-one);
  }
  
  .py-2 {
    padding-top: var(--spacing-two);
    padding-bottom: var(--spacing-two);
  }
  
  .py-3 {
    padding-top: var(--spacing-three);
    padding-bottom: var(--spacing-three);
  }
  .py-4 {
    padding-top: var(--spaceing-four);
    padding-bottom: var(--spaceing-four);
  }

  .controls{
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
  }

  .App-header {
    background-color: var(--brown);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: calc(10px + 2vmin); */
    color: bisque;
  }

  body{
      background-color: var(--darkbrown);
      justify-content: center;
      align-content: center;
      width: 100vw;
      height: 100vh;
      align-items: center;
      display: flexbox;
      flex: content;
      /* background-image: url(./9D205CE4-0422-41CF-9E02-181E129047CA.jpg);   */
      background-size: 150%;
      /* font-family: 'Yantramanav', sans-serif; */
      font-family: 'Roboto Mono', monospace;
    font-family:'Sofia', cursive;
      
  }
  .title{
      color: var(--sand);
      text-align: center;
      /* font-size:xx-large */
        font-size: 50px;
        font-weight: bolder;
    margin-top: 0;
  }
#container {  
    width: 550px ;
    max-width: fit-content;
    background-color: var(--lightbrown);
    border-radius: .5rem;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    margin: 20px;
    
}
section {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;

}

#question-container {
    display: flexbox;
    flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

#question {
    /* display: flex; */
    align-items: center;
    font-size: 20px;
    justify-content: center;
    color: var(--darkbrown);
    font-weight: bold;
  
}

#controls {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.correct {
background-color: yellowgreen;
}

.wrong {
--hue:var(--hue-wrong);
}

p {
    color: var(--brown);
    text-align: center;
    font-size: x-large;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 var(--lightbrwn);
    transform: scale(1.02);
    transform: transform 100ms;
}

.btn {
    border-color: var(--brown);
    border: none;
    border-radius: .5rem;
    background-color: var(--sand);
    color: var(--brown);
    gap: 10px;
    font-size: larger;
    box-shadow: inset 2px 2px var(--orch);

}
#next{
background-color: var(--peach);
border-radius: 2rem;
color: var(--brown);
justify-content: center;
}

#answer-buttons {
    display: flexbox;
    display: list-item;
    display: grid;
    margin-right: 80px;
    margin-left: 80px;
    gap: 10px;
    
}

.hide {
    display: none;
    visibility: hidden;
}

.btn-grid {
    flex: content;
    grid: 0 0 auto ;
}

#Start {
    align-content: center;
    flex: content; 
    align-content: center;
    background-color: var(--sand);
    color: var(--brown);
    border-radius: .5rem;
    justify-content: center;
}

#time {
    align-items: center;
    background-color: var(--lightbrown);
    color: var(--brown);
    border-radius: 0.5rem;
    padding: 2.5px;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    flex: content;
    margin-top: 20px;

}

#submit {
    background-color: var(--lightbrwn);
    color: var(--brown);
    border:none;
    border-radius: 0.5rem;
}

#name-input {
  border-radius: .5rem;
  border: none;
}

button {
    cursor: default;
}



footer p {
    color: var(--peach);
    font-size: medium;
}

footer {
    position: absolute;
    font-size: 20px;
    color: var(--peach);
    color: var(--peach);
    margin: 50px;
    padding: 50px;
    top: 600px;
}

@media screen and (max-width: 480px) {
    main {
        flex-direction: column;
    }
    body {
        flex-direction: column;
        font-size: small;
        background-color: var(--brown);
        justify-content: center;
        align-content: center;
        width: 100vw;
        height: 100vh;
        align-items: center;
        display: flexbox;
        flex: content;
        background-size: 150%;
    }
    footer {
        font-size: small;
    }
    #question-container {
        flex-direction: column;
        max-width: 80%;
    }
    #answer-buttons {
        display: flexbox;
        display: list-item;
        display: grid;
        margin-right: 80px;
        margin-left: 80px;
        gap: 10px;
        
    }
}